* {
    margin: 0;
    padding: 0;
    background-color: rgb(243 243 243);
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

.instagram {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.fotocelular {
    height: 600px;
    display: flex;
    align-items: center;
}

.imagem {
    border-radius: 6%;
    border: 2px solid black;
    justify-content: center;
    margin-right: 1px;
    margin-top: 10px;
    height: 90%;
}

.colunas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coluna2 {
    border: 1px solid lightgray;
    margin: 10px 0 0 60px;
    align-items: center;
    width: 300px;
    /* max-height: 380px; */
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.itens {
    background-color: #fff;
}


.instagram-logo {
    height: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
}

.ident  {
    font-size: 11px;
    color:darkgray;
}

.senha  {
    font-size: 11px;
    color:darkgray;
}

.entrar {
    font-size: 12px;
    color: #fff;
    background-color: rgb(192, 231, 253);
}

.caixa1 {
    width: 250px;
    border: 1px solid lightgray;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 5px;
    border-radius: 3px;
    /* background-color: silver; */
}

.caixa3 {
    width: 250px;
    /* border: 1px solid lightgray; */
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 5px;
    border-radius: 3px;
    background-color:rgb(192, 231, 253) ;
}

.linha  {
    font-size: 11px;
    color:darkgray;
    background-color: #fff;
}

.facebook {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 20px;
}

.entrarface {
    background-color: #fff;
    color:steelblue ;
    font-size: 11px;
    margin-left: 5px;
}

.esqueceu {
    margin-top: 15px;  
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.caixa4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    width: 300px;
    height: 50px;
    margin-top: 15px;
    margin-left: 58px;
    background-color: #fff;
}

.naotemconta {
    color:rgb(75, 74, 74);
    font-size: 12px;
    background-color: #fff;
}

.cadastre {
    color:rgb(35, 185, 245) ;
    font-size: 12px;
    margin-left: 5px;
    background-color: #fff;
}

.obtenha {
    font-size: 12px;
    color: rgb(75, 74, 74);
    margin-top: 15px;
    margin-left: 160px;
}

.botoes {
  margin-top: 15px;
  margin-left: 100px;
}

@media (max-width: 1024px)   {
    .instagram {
        width:90%;
    }
}

@media(max-width: 650px) {
    .instagram {
        width:60%;
    }

    .imagem {
        display: none;
    }
}
